<!doctype html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <form th:action="@{/createAccount}" th:object="${account}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label for="userId">User Id:</label>
        <input type="text" id="userId" th:value="${userId}" readonly/><br/>

        <label for="accountType">Type of Account:</label>
        <select id="accountType" th:field="*{accountType}" onchange="handleAccountTypeChange()" required>
            <option value="">Select</option>
            <option value="Savings">Savings</option>
            <option value="Credit">Credit</option>
        </select><br/>

        <label for="balance">Inicial Balance:</label>
        <input type="text" id="balance" th:field="*{balance}" required/><br/>

        <button type="submit">Create Account</button>
    </form>
<div th:if="${message}" th:text="${message}"></div>
<a href="/home" class="button">Back to Home</a>

</body>
</html>