<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transfer : ${transfers}">
            <td th:text="${transfer.id}">Id</td>
            <td th:text="${transfer.originAccount}">Origin</td>
            <td th:text="${transfer.destinationAccount}">Destination</td>
            <td th:text="${transfer.amount}">Amount</td>
            <td th:text="${transfer.transferDate}">Date</td>
            <td th:text="${transfer.description}">Description</td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{'/transfer/' + ${account}}" method="get">
        <button type="submit">Mis cuentas</button>
    </form>
</body>
</html>